@charset "UTF-8";
/*###########################################################################
  The main SCSS file for the Champions Blog module.
  ########################################################################### */
/*- Importing the default variables
  --------------------------------------------------------------------------  */
/*###########################################################################
  Color variables used across the blog.
  ########################################################################### */
/*- Main Colors
  --------------------------------------------------------------------------  */
/*- Font color settings
  --------------------------------------------------------------------------  */
/*- Utilities, the basic building blocks of the module.
  --------------------------------------------------------------------------  */
/*###########################################################################
  Color utility classes for Champions Blog
  ########################################################################## */
/*- Color utilities
  --------------------------------------------------------------------------  */
.c-topic {
  color: #a7002f; }

.c-level {
  color: #ACD086; }

/*- Background color utilities
  --------------------------------------------------------------------------  */
.c-bg-topic {
  background-color: #a7002f; }

.c-bg-level {
  background-color: #ACD086; }

.c-bg-tag {
  background-color: #1b3241; }

.c-bg-main-light {
  background-color: #396989; }

/*###########################################################################
  Display utility classes. Some of these are stolen from Bootstrap
  ########################################################################### */
.d-flex {
  display: flex; }

.flex-wrap {
  flex-wrap: wrap; }

.object-cover img {
  min-height: 100%;
  max-width: 100%;
  object-fit: cover; }

.cb-fl--field-cb-related-posts {
  width: 100%;
  padding-bottom: 40px;
  border-bottom: 5px solid #1b3241; }
  .cb-fl--field-cb-related-posts .cb-label {
    position: relative; }
    .cb-fl--field-cb-related-posts .cb-label:before, .cb-fl--field-cb-related-posts .cb-label:after {
      background-color: #1b3241;
      height: 5px;
      position: absolute;
      content: ' ';
      top: 50%;
      transform: translateY(-50%);
      width: 150%; }
    .cb-fl--field-cb-related-posts .cb-label:before {
      left: -175%; }
    .cb-fl--field-cb-related-posts .cb-label:after {
      right: -175%; }
  .cb-fl--field-cb-related-posts .field--label {
    font-size: 30px;
    padding-bottom: 30px;
    text-align: center;
    overflow: hidden; }
  .cb-fl--field-cb-related-posts .field--item {
    position: relative;
    margin-bottom: 0.7em;
    text-indent: 2em; }
    .cb-fl--field-cb-related-posts .field--item a {
      color: black;
      font-size: 22px;
      font-style: italic;
      font-weight: bold; }
    .cb-fl--field-cb-related-posts .field--item:before {
      background-color: #1b3241;
      content: ' ';
      height: 20px;
      width: 20px;
      border-radius: 50%;
      position: absolute;
      left: 0;
      top: 6px; }

.champs-blog-page .field--name-field-cb-author-photo {
  width: 65px;
  border-radius: 50%;
  overflow: hidden; }

.champs-blog-page .field--name-username {
  width: calc(100% - 85px);
  padding-left: 19px; }
  .champs-blog-page .field--name-username h2 {
    margin-top: 0;
    font-size: 16px;
    margin-bottom: 7px; }

.champs-blog-page .cb__node-author {
  position: relative;
  width: 100%;
  min-height: 50px; }

.champs-blog-page .cb-fl--node-post-date {
  font-size: 14px;
  color: #777;
  position: absolute;
  top: 70px;
  left: 84px; }

.champs-blog-page .field--name-field-cb-author-role {
  width: calc( 100% - 85px);
  padding-left: 19px;
  color: #777; }

@media screen and (min-width: 992px) {
  .blog__topic-container {
    position: absolute;
    bottom: 15px;
    right: 0; } }

.blog__author-signoff {
  margin-bottom: 15px;
  padding: 10px;
  background-color: #396989;
  border-radius: 2px;
  display: flex;
  align-items: center;
  flex-wrap: wrap; }

.blog__author-signoff__more-link .field--name-username {
  float: right;
  width: auto;
  display: inline;
  padding-left: 5px; }
  .blog__author-signoff__more-link .field--name-username h2 {
    margin-top: 0;
    margin-bottom: 0;
    text-decoration: underline; }

.more-posts-text {
  line-height: 1.1;
  font-size: 16px; }

.blog__back-link {
  display: inline-block;
  font-weight: bold;
  font-size: 1.3em; }

.hi-icon-wrap {
  margin: 0 auto;
  padding: 2em 0 2em; }

.hi-icon {
  display: inline-block;
  font-size: 0px;
  cursor: pointer;
  margin: 0 30px 0 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  position: relative;
  z-index: 1;
  color: #1b3241; }

.hi-icon:after {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content: '';
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

.hi-icon:before {
  speak: none;
  font-size: 32px;
  line-height: 50px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  display: block;
  -webkit-font-smoothing: antialiased; }

.hi-icon-archive:before {
  content: "\e00f"; }

.hi-icon-effect-5 .hi-icon {
  box-shadow: 0 0 0 4px #1b3241;
  overflow: hidden;
  -webkit-transition: background 0.3s, color 0.3s, box-shadow 0.3s;
  -moz-transition: background 0.3s, color 0.3s, box-shadow 0.3s;
  transition: background 0.3s, color 0.3s, box-shadow 0.3s; }

.hi-icon-effect-5 .hi-icon:after {
  display: none; }

.hi-icon-effect-5 .hi-icon:hover {
  background: white;
  color: #1b3241;
  box-shadow: 0 0 0 8px rgba(27, 50, 65, 0.3);
  text-decoration: none; }

.hi-icon:focus, .hi-icon:active, .hi-icon:visited {
  text-decoration: none; }

.hi-icon-effect-5a .hi-icon:hover:before {
  -webkit-animation: toRightFromLeft 0.3s forwards;
  -moz-animation: toRightFromLeft 0.3s forwards;
  animation: toRightFromLeft 0.3s forwards; }

@-webkit-keyframes toRightFromLeft {
  49% {
    -webkit-transform: translate(100%); }
  50% {
    opacity: 0;
    -webkit-transform: translate(-100%); }
  51% {
    opacity: 1; } }

@-moz-keyframes toRightFromLeft {
  49% {
    -moz-transform: translate(100%); }
  50% {
    opacity: 0;
    -moz-transform: translate(-100%); }
  51% {
    opacity: 1; } }

@keyframes toRightFromLeft {
  49% {
    transform: translate(100%); }
  50% {
    opacity: 0;
    transform: translate(-100%); }
  51% {
    opacity: 1; } }

.hi-icon-effect-5d .hi-icon:hover:before {
  -webkit-animation: toBottomFromTop 0.3s forwards;
  -moz-animation: toBottomFromTop 0.3s forwards;
  animation: toBottomFromTop 0.3s forwards; }

@-webkit-keyframes toBottomFromTop {
  49% {
    -webkit-transform: translateY(100%); }
  50% {
    opacity: 0;
    -webkit-transform: translateY(-100%); }
  51% {
    opacity: 1; } }

@-moz-keyframes toBottomFromTop {
  49% {
    -moz-transform: translateY(100%); }
  50% {
    opacity: 0;
    -moz-transform: translateY(-100%); }
  51% {
    opacity: 1; } }

@keyframes toBottomFromTop {
  49% {
    transform: translateY(100%); }
  50% {
    opacity: 0;
    transform: translateY(-100%); }
  51% {
    opacity: 1; } }

.blog__author-profile {
  float: left;
  width: calc(100% + 30px);
  padding: 30px 0;
  background: #396989;
  margin: 0 -15px;
  border-radius: 10px;
  margin-bottom: 30px; }

.cb__author-profile__photo img {
  border-radius: 50%;
  margin: auto;
  margin-bottom: 10px; }

.cb__author-profile__container {
  display: flex;
  align-items: center;
  flex-wrap: wrap; }

.cb__author-profile__name {
  font-size: 35px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px; }

.cb__author-profile__role {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 17px; }

.cb__author-profile__profile {
  margin-bottom: 15px;
  font-size: 16px; }

.cb__author-profile__contact a {
  color: #0c161d; }

.pagination > li > a,
.pagination > li span {
  border-color: #1b3241; }
  .pagination > li > a:hover, .pagination > li > a:focus,
  .pagination > li span:hover,
  .pagination > li span:focus {
    background-color: #1b3241;
    border-color: #1b3241;
    color: white; }

.pagination > .active > a,
.pagination > .active > span {
  background-color: #1b3241;
  border-color: #1b3241; }
  .pagination > .active > a:hover, .pagination > .active > a:focus,
  .pagination > .active > span:hover,
  .pagination > .active > span:focus {
    background-color: #1b3241;
    border-color: #1b3241; }

.view-cb-content-sections .blog__toc__item {
  position: relative;
  margin-bottom: 8px;
  padding-left: 20px;
  font-size: 16px; }
  .view-cb-content-sections .blog__toc__item:before {
    position: absolute;
    lefT: 0;
    top: 6px;
    background-color: black;
    border-radius: 50%;
    content: ' ';
    height: 10px;
    width: 10px; }

@media screen and (min-width: 992px) {
  .blog-affix {
    position: fixed;
    top: 80px;
    max-width: 255px; } }

.blog__cbsf-blockquote .field--name-field-cb-text {
  quotes: "“" "”" "‘" "’";
  position: relative;
  text-indent: 20px; }

.blog__cb-element, .blog__cb-divider {
  width: 100%; }
  .blog__cb-element p:first-of-type::first-line, .blog__cb-divider p:first-of-type::first-line {
    text-indent: 15px; }

.blog__cb-divider {
  height: 3px;
  background-color: #1b3241; }

.blog__cbsf-file-download {
  border-radius: 10px;
  padding: 15px;
  border: 2px solid #1b3241; }
  .blog__cbsf-file-download .blog__element__heading {
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
    margin-top: 0; }
  .blog__cbsf-file-download .field--name-field-cb-icon img {
    border-radius: 50%; }

.cb-download-icon .hi-icon {
  background: rgba(255, 255, 255, 0.2);
  width: 90px;
  height: 90px;
  margin-right: 0; }
  .cb-download-icon .hi-icon:before {
    line-height: 90px;
    font-size: 60px; }

.owl-carousel .owl-dots {
  text-align: center; }
  .owl-carousel .owl-dots button.owl-dot {
    background-color: white;
    border: 1px solid #1b3241;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin: 0 2px; }
    .owl-carousel .owl-dots button.owl-dot.active {
      background-color: #1b3241; }
