/*###########################################################################
  Color utility classes for Champions Blog
  ########################################################################## */


/*- Color utilities
  --------------------------------------------------------------------------  */

.c-topic {
  color: $BLOG_COLOR_TOPIC;
}

.c-level {
  color: $BLOG_COLOR_LEVEL;
}


/*- Background color utilities
  --------------------------------------------------------------------------  */

.c-bg-topic {
  background-color: $BLOG_COLOR_TOPIC;
}

.c-bg-level {
  background-color: $BLOG_COLOR_LEVEL;
}

.c-bg-tag {
  background-color: $BLOG_COLOR_TAG;
}

.c-bg-main-light {
  background-color: $BLOG_COLOR_MAIN_LIGHT;
}