/*###########################################################################
  Display utility classes. Some of these are stolen from Bootstrap
  ########################################################################### */


.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.object-cover {
  img {
    min-height: 100%;
    max-width: 100%;
    object-fit: cover;
  }
}