.blog__cb-element, .blog__cb-divider {
  width: 100%;
  p:first-of-type {
    &::first-line {
      text-indent: 15px;
    }
  }
}

.blog__cb-divider {
  height: 3px;
  background-color: $BLOG_COLOR_MAIN;
}