.blog__cbsf-file-download {
  border-radius: 10px;
  padding: 15px;
  border: 2px solid $BLOG_COLOR_MAIN;
  .blog__element__heading {
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
    margin-top: 0;
  }
  .field--name-field-cb-icon {
    img {
      border-radius: 50%;
    }
  }
}

.cb-download-icon {
  .hi-icon {
    background: rgba(white, 0.2);
    width: 90px;
    height: 90px;
    margin-right: 0;
    &:before {
      line-height: 90px;
      font-size: 60px;
    }
  }
}