.owl-carousel .owl-dots {
  text-align: center;
  button.owl-dot {
    background-color: white;
    border: 1px solid $BLOG_COLOR_MAIN;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin: 0 2px;
    &.active {
      background-color: $BLOG_COLOR_MAIN;
    }
  }
}