// FIXME: This will have to be refactored out and the HTML of the view should be minimised.

// I have temporarily removed this from the main .scss, since one of the projects
// does not utilise these filters. This CSS should still be refactored out and
// moved into the HTML as a CSS utility setup instead.


.blog__exposed {
  padding-left: 15px;
  #edit-actions {
      margin-top: 10px;
  }
  legend {
      border: none;
      margin-bottom: 5px;
  }
  .fieldset-legend {
      font-style: italic;
      font-weight: bold;
      font-size: 19px;
      margin-bottom: 5px;
  }
  .form-item.checkbox {
      float: left;
      width: 100%;
      label {
          float: left;
          color: white;
          padding: 3px 13px;
          background-color: $BLOG_COLOR_LEVEL;
          color: white;
          border-radius: 15px;
          transition: background-color 0.3s ease-in-out;
          display: block;
          margin-bottom: 5px;
          padding-left: 33px;
          &:hover {
              //background-color: darken(#ACD086, 30%);
              .checkmark {
                  background-color: #ccc;
              }
          }
      }
      input {
          position: absolute;
          opacity: 0;
          cursor: pointer;
          width: 0;
      }
      .checkmark {
          position: absolute;
          top: 6px;
          left: 11px;
          height: 14px;
          width: 14px;
          border-radius: 2px;
          background-color: white;
          &:after {
              content: "";
              position: absolute;
              display: none;
              left: 4px;
              top: 1px;
              width: 5px;
              height: 10px;
              border: solid $BLOG_COLOR_LEVEL;
              border-width: 0 3px 3px 0;
              -webkit-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
              transform: rotate(45deg);
          }
      }
      input:checked~.checkmark {
          background-color: white;
          &:after {
              display: block;
          }
      }
  }
}