.blog__author-signoff {
  margin-bottom: 15px;
  padding: 10px;
  background-color: lighten($BLOG_COLOR_MAIN, 20%);
  border-radius: 2px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.blog__author-signoff__more-link {
  .field--name-username {
    float: right;
    width: auto;
    display: inline;
    padding-left: 5px;
    h2 {
      margin-top: 0;
      margin-bottom : 0;
      text-decoration: underline;
    }
  }
}

.more-posts-text {
  line-height: 1.1;
  font-size: 16px;
}