// The SCSS for Champs Blog. Trying to use BEM style.
.cb-fl--field-cb-related-posts {
  width: 100%;
  padding-bottom: 40px;
  border-bottom: 5px solid $BLOG_COLOR_MAIN;
  .cb-label {
    position: relative;

    &:before, &:after {
      background-color: $BLOG_COLOR_MAIN;
      height: 5px;
      position: absolute;
      content: ' ';
      top: 50%;
      transform: translateY(-50%);
      width: 150%;
    }
    &:before {
      left: -175%;
    }
    &:after {
      right: -175%;
    }
  }
  .field--label {
    font-size: 30px;
    padding-bottom: 30px;
    text-align: center;
    overflow: hidden;
  }
  .field--item {
    position: relative;
    margin-bottom: 0.7em;
    text-indent: 2em;
    a {
      color: black;
      font-size: 22px;
      font-style: italic;
      font-weight: bold;
    }
    &:before {
      background-color: $BLOG_COLOR_MAIN;
      content: ' ';
      height: 20px;
      width: 20px;
      border-radius: 50%;
      position: absolute;
      left: 0;
      top: 6px;
    }
  }
}



.champs-blog-page {
  .field--name-field-cb-author-photo {
    width: 65px;
    border-radius: 50%;
    overflow: hidden;
  }
  .field--name-username {
    width: calc(100% - 85px);
    padding-left: 19px;
    h2 {
      margin-top: 0;
      font-size: 16px;
      margin-bottom: 7px;
    }
  }
  .cb__node-author {
    position: relative;
    width: 100%;
    min-height: 50px;
  }
  .cb-fl--node-post-date {
    font-size: 14px;
    color: #777;
    position: absolute;
    top: 70px;
    left: 84px;
  }
  .field--name-field-cb-author-role {
    width: calc( 100% - 85px);
    padding-left: 19px;
    color: #777;
  }
}

.blog__topic-container {
  @media screen and (min-width: 992px) {
    position: absolute;
    bottom: 15px;
    right: 0;
  }
}