{#
/**
 * @file
 * Template for a generic layout.
 */
#}
{%
  set classes = [
    'layout--' ~ layout.id|clean_class,
    'champs-blog-page',
  ]
%}
{% if content %}
<div{{ attributes.addClass(classes) }}>
  <div class="container">
    <div class="mw-700">
      {% if content %}
        <div class="cb__node-author">
          {{ content.user }}
          {{ content.node_post_date }}
          <div class="blog__topic-container">
            {{ content.field_cb_tax_topic }}
            {{ content.field_cb_tax_level }}
          </div>
        </div>

        <div class="blog__main-image">
          {{ content.field_cb_main_image }}
        </div>

        {{ content.field_cb_content_sections }}
        {{ content.field_cb_content }}
        {{ content.field_cb_tax_tags }}

        {#
          This generates the author signoff using the ID from the author of the
          page. The author_id variable is defined in a hook in the .module file
          What happens when Twig Tweak is not installed?
        #}

        {#
          This requires Twig Tweak to function correctly. author_id is passed
          through a preprocess hook.
        #}

        {{ drupal_entity('user', author_id, 'cb_author_signoff', true) }}

        <div class="blog__back-to-blog hi-icon-wrap hi-icon-effect-5 hi-icon-effect-5a d-flex align-items-center">
          <a href="/blog" class="hi-icon fas fa-arrow-left">Blog</a>
          <a href="/blog" class="blog__back-link">Back to the blog...</a>
        </div>

        {{ content|without('user', 'node_post_date', 'node_title', 'field_cb_main_image', 'field_cb_tax_topic', 'field_cb_tax_level', 'field_cb_tax_tags', 'field_cb_content', 'field_cb_content_sections', 'field_cb_comments') }}

        {{ content.field_cb_comments }}

      {% endif %}
    </div>
  </div>
</div>
{% endif %}
{{ attach_library('champs_blog/champs-blog') }}