.blog__author-profile {
  float: left;
  width: calc(100% + 30px);
  padding: 30px 0;
  background: lighten($BLOG_COLOR_MAIN, 20%);
  margin: 0 -15px;
  border-radius: 10px;
  margin-bottom: 30px;
}
.cb__author-profile__photo {
  img {
    border-radius: 50%;
    margin: auto;
    margin-bottom: 10px;
  }
}

.cb__author-profile__container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.cb__author-profile__name {
  font-size: 35px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.cb__author-profile__role {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 17px;
}

.cb__author-profile__profile {
  margin-bottom: 15px;
  font-size: 16px;
}

.cb__author-profile__contact {
  a {
    color: darken($BLOG_COLOR_MAIN, 10%);
  }
}