// Pagination
.pagination {
  >li {
      >a,
      span {
          border-color: $BLOG_COLOR_MAIN;
          &:hover,
          &:focus {
              background-color: $BLOG_COLOR_MAIN;
              border-color: $BLOG_COLOR_MAIN;
              color: white;
          }
      }
  }
  >.active {
      >a,
      >span {
          background-color: $BLOG_COLOR_MAIN;
          border-color: $BLOG_COLOR_MAIN;
          &:hover,
          &:focus {
              background-color: $BLOG_COLOR_MAIN;
              border-color: $BLOG_COLOR_MAIN;
          }
      }
  }
}