.view-cb-content-sections {
  .blog__toc__item {
      position: relative;
      margin-bottom: 8px;
      padding-left: 20px;
      font-size: 16px;
      &:before {
          position: absolute;
          lefT: 0;
          top: 6px;
          background-color: black;
          border-radius: 50%;
          content:  ' ';
          height: 10px;
          width: 10px;
      }
  }
}

// The affix class
.blog-affix {
  @media screen and (min-width: 992px) {
      position: fixed;
      top: 80px;
      max-width: 255px;
  }
}